<div class="card border-primary">
  <div class="card-header">Kategori</div>
  <div class="card-body text-primary">

    <div *ngIf="categories.length === 0" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="categories.length > 0">
      <h3 *ngFor="let item of categories">
          <strong>
              <a [routerLink]="['/kategori', item.id]" class="btn btn-link"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>{{ item.name }}</a>
          </strong>
      </h3>
    </div>
  </div>
</div>
